<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About</title>
		{{bulma}}
		{{analytics}}
	</head>
	<body>
		{% include 'nav.html' %}
		<div class="container">
			<div class="box mt-1 has-text-centered">
				<h1 class="title">About</h1>
				<h2 class="subtitle">
					Modutools is a collection of tools designed for developers, by developers.
				</h2>
				<p>
					The main goal of Modutools is to provide developers with tools that they can use to improve their workflow. We are constantly adding new tools to the site, so be sure to check back often! Most of our tools run entirely locally, with the exception of the AI tools, which require an internet connection to function.
				</p>
			</div>
		</div>
	</body>
</html>
