<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
</head>
<body>
    <div class="container">
        <div class="box mt-1 has-text-centered">
            <h1 class="title">About</h1>
            <h2 class="subtitle">Modutools is a collection of tools designed for developers.</h2>
        </div>
    </div>
</body>
</html>