<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AI Color Palette</title>
		{{bulma}} {{analytics}}
		<meta
			name="description"
			content="Generate a colour palette from a theme using AI."
		/>
	</head>
	<body>
		{% include 'nav.html' %}
		{% include 'cookies.html' %}
		<div id="notif"></div>
		<div class="container">
			<div class="box has-text-centered mt-6">
				<h1 class="title">AI Color Palette</h1>
				<h2 class="subtitle">
					Enter a color scheme, color, or anything else. Leave blank
					for random.
				</h2>
				<input
					type="text"
					id="theme"
					placeholder="Blue"
					class="input"
					maxlength="100"
				/>
				<button class="button is-success mt-3" id="submit">
					Generate
				</button>
				<p>Remaining: <span id="remaining">{{remaining}}</span></p>
				{% if remaining == 0 %}
				<p>{{message}}</p>
				{% endif %}
				<div id="colors">
					<div
						id="color1"
						class="color"
						style="background-color: red"
					></div>
				</div>
				<p>
					Convert from RGB to hex
					<a href="https://modu.tools/hex_to_rgb">here</a>.
				</p>
			</div>
		</div>
	</body>
	<script>
		document.addEventListener("keypress", (event) => {
			if (event.key === "Enter") {
				document.getElementById("submit").click();
			}
		});
		document
			.getElementById("submit")
			.addEventListener("click", function () {
				let theme = document.getElementById("theme").value;
				console.log(theme);
				var xhr = new XMLHttpRequest();
				xhr.open("POST", "/aiv2back", true);
				xhr.setRequestHeader("Content-Type", "application/json");
				xhr.send(JSON.stringify({ theme: theme }));
				document.getElementById("theme").value = "";
				document.getElementById("submit").classList.add("is-loading");
				xhr.onload = function () {
					if (xhr.status === 200) {
						// clear the #colors div
						document.getElementById("colors").innerHTML = "";
						var colors = JSON.parse(xhr.responseText);
						if (!colors.acceptable) {
							document
								.getElementById("theme")
								.classList.add("is-danger");
							setTimeout(() => {
								document
									.getElementById("theme")
									.classList.remove("is-danger");
							}, 3000);
						}
						for (let color of colors.colors) {
							makeSquare(color);
						}
					} else {
						console.log("Error: " + xhr.status);
					}
					document
						.getElementById("submit")
						.classList.remove("is-loading");
					document.getElementById("remaining").innerText =
						colors.remaining;
				};
			});
		document.addEventListener("click", (event) => {
			if (event.target.classList.contains("color")) {
				navigator.clipboard.writeText(
					event.target.style.backgroundColor
				);
				showNotification(
					"Copied! " + event.target.style.backgroundColor
				);
			}
		});
		function showNotification(text) {
			var parent = document.getElementById("notif");
			var div = document.createElement("div");
			var button = document.createElement("button");
			button.className = "delete";
			button.onclick = function () {
				parent.removeChild(div);
			};
			div.appendChild(button);
			div.className = "notification is-primary";
			div.innerHTML = text;
			parent.appendChild(div);
			setTimeout(() => {
				parent.removeChild(div);
			}, 3000);
		}
		document.addEventListener("DOMContentLoaded", () => {
			var inputbox = document.getElementById("theme");
			inputbox.focus();
			var options = [
				"Blue",
				"Google",
				"Coventry College",
				"Microsoft",
				"A sunny beach",
				"5 color blue palette",
			];
			setInterval(() => {
				// change the placeholder text
				inputbox.placeholder =
					options[Math.floor(Math.random() * options.length)];
			}, 2000);
		});
		function makeSquare(color) {
			let div = document.createElement("div");
			let innerdiv = document.createElement("div");
			innerdiv.style.backgroundColor = color;
			innerdiv.className = "color";
			let p = document.createElement("p");
			p.innerText = color;
			div.appendChild(innerdiv);
			div.appendChild(p);
			document.getElementById("colors").appendChild(div);
		}
	</script>
	<style>
		.color {
			width: 100px;
			height: 100px;
			display: inline-block;
			margin: 5px;
			border-radius: 10px;
			margin-top: 10px;
			cursor: copy;
			transition: all 0.3s ease-in-out;
		}
		#colors {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		.color:hover {
			transform: scale(1.1);
		}
		#notif {
			position: fixed;
			top: 10%;
			right: 25%;
			width: 50%;
			z-index: 100;
			transition: all 0.3s ease-in-out;
		}
		#notif > div {
			background-color: rgb(255, 255, 255, 0.5);
		}
		.notification {
			backdrop-filter: blur(10px);
		}
	</style>
</html>
