<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Base64 to Image</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		{# adds the nav bar to the file #}
		{% include 'nav.html' %}
		<div class="container">
			<div class="box mt-2">
                <h1 class="has-text-centered title">Base64 to Image</h1>
                <p class="subtitle has-text-centered">Enter base64 string:</p>
				<textarea name="base64" id="base64" class="textarea my-3"></textarea>
				<div id="image">
                    <p class="has-text-centered">Image:</p>
					<img src="" alt="Base64 Image" id="b64im" />
				</div>
				<div class="buttons is-centered mt-2">
					<button class="button is-primary" id="copy">Copy</button>
					<button class="button is-is-info" id="save">Save</button>
				</div>
			</div>
		</div>
	</body>
	<script>
		function createImageFromBase64(base64String) {
			// Validate the base64 string format (basic check for image data)
			const base64Pattern =
				/^data:image\/(png|jpeg|jpg|gif|bmp|webp);base64,/;
			if (!base64Pattern.test(base64String)) {
				console.error(
					"Invalid base64 string. Make sure it starts with 'data:image/...;base64,'"
				);
				return;
			}

			// Create an image element
			const img = document.getElementById("b64im");

			// Set the source of the image to the base64 string
			img.src = base64String;
            // Show the image
            document.getElementById("image").style.display = "block";
		}
		document.addEventListener("paste", (e) => {
			const clipboardData = e.clipboardData || window.clipboardData;
			const pastedData = clipboardData.getData("Text");
			// check if pastedData meets regex data:image\/(png|jpeg|jpg|gif|bmp|webp);base64, and if so then extract the base64
			createImageFromBase64(pastedData);
		});
		document
			.getElementById("base64")
			.addEventListener("input", function () {
				createImageFromBase64(this.value);
			});
		document.getElementById("copy").addEventListener("click", function () {
			document.getElementById("b64im").click();
		});
		document.getElementById("save").addEventListener("click", function () {
			document.getElementById("b64im").download = "image.png";
			document.getElementById("b64im").click();
		});
	</script>
    <style>
        #image {
            display: flex;
            justify-content: center;
            border: 1px solid #ccc;
            display: none;
        }
    </style>
</html>
