<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% if path == '/foreground' %}Foreground color helper{% else
			%}Background color helper{% endif %}
		</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<div class="container">
			<h1 class="title has-text-centered">
				{% if path == '/foreground' %}Foreground color helper{% else
				%}Background color helper{% endif %}
			</h1>
            <img src="/assets/fgbg.png" alt="Foreground background demo" id="demo">
            <p class="has-text-centered">The foreground is black (#000000) and the background is white (#FFFFFF)</p>
			{% if path == '/foreground' %}
			<p class="has-text-centered">Background color (hex):</p>
			{% else %}
			<p class="has-text-centered">Foreground color (hex):</p>
			{% endif %}
			<div class="field has-addons has-addons-centered">
				<p class="control">
					<a class="button is-static">#</a>
				</p>
				<p class="control">
					<input
						class="input"
						type="text"
						placeholder="FFFFFF"
						id="hex"
					/>
				</p>
			</div>
			<div class="buttons is-centered">
				<button id="submit" class="button is-primary">Submit</button>
			</div>
			<p id="response" class="has-text-centered"></p>
			<div id="options"></div>
		</div>
	</body>
	<script>
		document.getElementById("hex").addEventListener("input", function () {
			// remove all non hex characters, and any #, remove characters over length 6, and convert to uppercase
			var hex = this.value
				.replace(/[^0-9A-F]/gi, "")
				.slice(0, 6)
				.toUpperCase();
			// set the value
			this.value = hex;
			// remove trailing #
			hex = hex.replace(/,$/, "");
			// set the value
			document.getElementById("hex").value = hex;
			// remove the is-danger class
			document.getElementById("hex").classList.remove("is-danger");
			// check if hex is valid
			if (/^[0-9A-F]{6}$/i.test(hex)) {
				// do nothing
			} else {
				document.getElementById("hex").classList.add("is-danger");
			}
		});

		function tryGen(hex, color, fgbg, depth=0) {
            var hex = hex
            var color = color
            var fgbg = fgbg
            console.log(hex, color, fgbg, depth)
            if (depth > 5) {
                document.getElementById("response").innerHTML = "Too many attempts. Please try again.";
                return;
            }
            fetch("/color", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    color: color,
                    fgbg: fgbg,
                }),
            })
				.then((response) => response.json())
				.then((data) => {
                    if (!data.reason) {
                        tryGen(hex, color, fgbg, depth + 1);
                    }
                    if (!data.choices) {
                        tryGen(hex, color, fgbg, depth + 1);
                    }
					document.getElementById("response").innerHTML = data.reason;
					document.getElementById("options").innerHTML = "";
					for (var i = 0; i < data.choices.length; i++) {
						// create a canvas which will be used to display the color, set the background to the color specified using hex, and add text with color from choice
                        "{% if path == '/foreground' %}"
						var canvas = document.createElement("canvas");
						canvas.width = 400;
						canvas.height = 100;
						var ctx = canvas.getContext("2d");
						ctx.fillStyle = color;
						ctx.fillRect(0, 0, 400, 100);
						ctx.font = "48px arial";
						ctx.fillStyle = data.choices[i];
						ctx.fillText(data.choices[i], 10, 58);
						document.getElementById("options").appendChild(canvas);
                        "{% else %}"
                        var canvas = document.createElement("canvas");
                        canvas.width = 400;
                        canvas.height = 100;
                        var ctx = canvas.getContext("2d");
                        ctx.fillStyle = data.choices[i];
                        ctx.fillRect(0, 0, 400, 100);
                        ctx.font = "48px arial";
                        ctx.fillStyle = color;
                        ctx.fillText(data.choices[i], 10, 58);
                        document.getElementById("options").appendChild(canvas);
                        "{% endif %}"
					}
					document.getElementById("submit").classList.remove("is-loading");
				});
		}

		document
			.getElementById("submit")
			.addEventListener("click", function () {
				this.classList.add("is-loading");
				let hex = document.getElementById("hex").value;
				let color = "#" + hex;
				let fgbg = `{% if path == '/foreground' %}background{% else %}foreground{% endif %}`;
                tryGen(hex, color, fgbg, 0);
			});
	</script>
	<style>
		#options {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
            flex-direction: column;
		}
        #options canvas {
            margin: 10px;
            max-width: 400px;
            max-height: 100px;
            margin-left: auto;
            margin-right: auto;
        }
        #demo {
            display: flex;
            justify-content: center;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
	</style>
</html>
