<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hex to RGB</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<div class="container has-text-centered">
			<h1 class="title">Hex to RGB</h1>
            <p>Hex:</p>
			<div class="field has-addons has-addons-centered">
                <p class="control">
                    <a class="button is-static">#</a>
                </p>
				<p class="control">
					<input class="input" type="text" placeholder="FFFFFF" id="hex" />
				</p>
			</div>
            <p>RGB:</p>
			<div class="field has-addons has-addons-centered">
                <p class="control">
                    <a class="button is-static">RGB</a>
                </p>
				<p class="control">
					<input class="input" type="text" placeholder="255,255,255" id="rgb" />
				</p>
			</div>
		</div>
	</body>
    <script>
        function hexToRgb(hex) {
            var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
            return result ? {
                r: parseInt(result[1], 16),
                g: parseInt(result[2], 16),
                b: parseInt(result[3], 16)
            } : null;
        }

        function rgbToHex(r, g, b) {
            return "#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1);
        }

        document.getElementById("hex").addEventListener("input", function() {
            var hex = document.getElementById("hex").value;
            var rgb = hexToRgb(hex);
            document.getElementById("rgb").value = rgb.r + "," + rgb.g + "," + rgb.b;
        });

        document.getElementById("rgb").addEventListener("input", function() {
            var rgb = document.getElementById("rgb").value;
            var hex = rgbToHex(rgb);
            document.getElementById("hex").value = hex;
        });
    </script>
</html>
