<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image to Base64</title>
		{{bulma}} {{analytics}} {{fontawesome}}
		<meta
			name="description"
			content="Convert an image to a base64 string."
		/>
	</head>

	<body>
		{# adds the nav bar to the file #} {% include 'nav.html' %}
		<div class="container">
			<div class="box mt-2">
				<h1 class="has-text-centered">Image to Base64</h1>
				<div class="has-text-centered mt-3">
					<div class="file is-centered">
						<label class="file-label">
							<input
								class="file-input"
								type="file"
								name="image"
								id="imageinput"
								accept="image/jpeg, image/png, image/gif, image/webp, image/bmp"
							/>
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">
									Choose a file...</span
								>
							</span>
						</label>
					</div>
					<textarea
						name="base64"
						id="base64"
						class="textarea"
					></textarea>
					<div class="buttons is-centered mt-2">
						<button class="button is-primary" id="copy">
							Copy
						</button>
						<button class="button is-is-info" id="save">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<style>
		textarea {
			max-width: 50vw;
		}
	</style>
	<script>
		function arrayBufferToBase64(arrayBuffer) {
			return new Promise((resolve, reject) => {
				const reader = new FileReader();
				reader.onload = () => {
					const base64String = reader.result.split(",")[1];
					resolve(base64String);
				};
				reader.onerror = reject;
				reader.readAsDataURL(new Blob([arrayBuffer]));
			});
		}
		function outputToFile(inputString, extension) {
			// Construct the filename using only the provided extension
			var bb = new Blob([inputString], { type: "text/plain" });
			var a = document.createElement("a");
			a.download = "download.txt";
			a.href = window.URL.createObjectURL(bb);
			a.click();
		}
		function encodeImageFileAsBase64(inputFile, callback) {
			// Check if there's a file selected and it's an image
			if (inputFile.files && inputFile.files[0]) {
				const file = inputFile.files[0];
				const validImageTypes = [
					"image/jpeg",
					"image/png",
					"image/gif",
					"image/webp",
					"image/bmp",
				];

				// Validate file type
				if (!validImageTypes.includes(file.type)) {
					console.error(
						"File type not supported. Please upload an image file."
					);
					return;
				}

				// Use FileReader to read the file as a data URL
				const reader = new FileReader();
				reader.onload = function (event) {
					// Send the base64 encoded result to the callback
					callback(event.target.result);
				};

				reader.onerror = function () {
					console.error("There was an error reading the file.");
				};

				// Start reading the file
				reader.readAsDataURL(file);
			} else {
				console.error("No file selected.");
			}
		}
		document
			.getElementById("imageinput")
			.addEventListener("change", function (e) {
				var file = document.getElementById("imageinput");
				encodeImageFileAsBase64(file, function (base64) {
					document.getElementById("base64").value = base64;
					document.getElementById("base64").innerText = base64;
				});
			});
		document.getElementById("copy").addEventListener("click", function () {
			navigator.clipboard.writeText(
				document.getElementById("base64").innerHTML
			);
		});
		document.getElementById("save").addEventListener("click", function () {
			outputToFile(document.getElementById("base64").innerHTML, "txt");
		});
	</script>
</html>
