<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tools</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<div class="container has-text-centered">
			<h1 class="title">Tools</h1>
			<h2 class="subtitle">Some of our favourites:</h2>
			<div class="parent">
				{% for tool in tools %}
				<div class="item">
					<a href="{{ tool['link'] }}" target="_blank">
						<img
							src="{{ tool['image'] }}"
							alt="{{ tool['name'] }}"
						/>
					</a>
					<h3>{{ tool['name'] }}</h3>
					<p>{{ tool['description'] }}</p>
                    <hr>
                    <div class="buttons is-centered">
                        <a class="button is-primary" href="{{ tool['link'] }}" target="_blank">Visit</a>
                    </div>
				</div>
				{% endfor %}

			</div>
		</div>
	</body>
    <style>
        .item {
            border: 1px solid grey;
            border-radius: 5px;
        }
        .parent {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        img {
            aspect-ratio: 1 / 1;
            max-width: 50%;
        }
    </style>
</html>
