<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meta Tag Generator</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
		/>
	</head>
	<body>
		<div class="container has-text-centered mt-2">
			<h1 class="title is-1">Meta Tag Generator</h1>
            <div class="box">
                <h2 class="has-text-centered title is-2">
                    Open Graph Generator
                </h2>
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Enter the title of your website here"
                            id="title"
                        />
                    </div>
                    <label class="label">Description</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Enter the description of your website here"
                            id="description"
                        />
                    </div>
                    <label class="label">Image</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Enter your image URL here"
                            id="image"
                        />
                    </div>
                    <label class="label">URL</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="Enter your webpage's URL here"
                            id="url"
                        />
                    </div>
                    <label class="label">Type</label>
                    <div class="select">
                        <select id="type">
                            <option value="website">website</option>
                            <option value="book">book</option>
                            <option value="profile">profile</option>
                            <option value="article">article</option>
                            <option value="product">product</option>
                            <option value="music.song">music.song</option>
                            <option value="music.album">music.album</option>
                            <option value="music.playlist">music.playlist</option>
                            <option value="music.radio_station">
                                music.radio_station
                            </option>
                            <option value="video.movie">video.movie</option>
                            <option value="video.episode">video.episode</option>
                            <option value="video.tv_show">video.tv_show</option>
                            <option value="video.other">video.other</option>
                        </select>
                    </div>
                </div>
            </div>
		</div>
	</body>
    <style>
        .field {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</html>
