<nav class="navbar" role="navigation" aria-label="main navigation">
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	/>
	<div class="navbar-brand">
		<a class="navbar-item" href="https://modutools.com?ref=nav">
			<img
				src="/static/logo-small.svg"
				width="28"
				height="28"
				alt="ModuTools logo"
			/>
		</a>

		<a
			role="button"
			class="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navBar"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>

	<div id="navBar" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/" data-umami-event="nav:Home">Home</a>
			<!-- <a class="navbar-item" href="/about">About</a> -->
		</div>
		<div class="navbar-end">
			<a
				href="https://blog.modu.tools"
				class="navbar-item"
				target="_blank"
				data-umami-event="nav:Blog"
				><i class="fa-solid fa-square-rss"></i>Blog</a
			>
			<a
				href="https://x.com/modu_tools"
				class="navbar-item"
				target="_blank"
				data-umami-event="nav:X"
				><i class="fa-brands fa-square-x-twitter"></i>X</a
			>
			<a
				href="https://bsky.app/profile/modutools.bsky.social"
				class="navbar-item"
				target="_blank"
				data-umami-event="nav:Bluesky"
				><i class="fa-brands fa-square-bluesky"></i>Bluesky</a
			>
			<a
				href="https://github.com/editid0/tools"
				class="navbar-item"
				target="_blank"
				data-umami-event="nav:GitHub"
				><i class="fa-brands fa-github"></i>GitHub</a
			>
		</div>
	</div>
</nav>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(
			document.querySelectorAll(".navbar-burger"),
			0
		);

		// Add a click event on each of them
		$navbarBurgers.forEach((el) => {
			el.addEventListener("click", () => {
				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle("is-active");
				$target.classList.toggle("is-active");
			});
		});
	});
</script>
<style>
	@media screen and (max-width: 1024px) {
		.navbar i {
			margin-right: 0.5rem;
		}
	}
</style>
