<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Password Generator by ModuTools</title>
		{{bulma}} {{analytics}}
		<meta
			name="description"
			content="A secure, reliable and easy to use password creator."
		/>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"
			integrity="sha512-TZlMGFY9xKj38t/5m2FzJ+RM/aD5alMHDe26p0mYUMoCF5G7ibfHUQILq0qQPV3wlsnCwL+TPRNK4vIWGLOkUQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
	</head>
	<body>
		{% include 'nav.html' %}
		<div class="container">
			<div class="box mt-3 has-text-centered">
				<h1 class="title">Password Generator</h1>
				<div class="tabs is-fullwidth">
					<ul>
						<li class="is-active" id="random">
							<a>Random password generator</a>
						</li>
						<li id="passphrase">
							<a>Passphrase generator</a>
						</li>
					</ul>
				</div>
				<div class="content" id="content_random">
					<div class="field">
						<label class="label">Password length</label>
						<div class="control">
							<input
								class="input"
								type="number"
								id="length"
								value="16"
							/>
							<input
								type="text"
								id="pass:password"
								readonly
								class="input my-2"
								placeholder="Generated password"
							/>
							<progress
								min="0"
								max="4"
								value="0"
								id="pass:score"
								class="progress is-link"
							></progress>
							<p id="pass:strength">Press generate to begin.</p>
							<button
								onclick="generateRandomPassword(4, 3, 3, 1)"
								class="button"
							>
								Generate
							</button>
						</div>
					</div>
				</div>
				<div class="content" id="content_passphrase">
					<div class="field">
						<label class="label">Number of words</label>
						<div class="control">
							<input
								class="input"
								type="number"
								id="words"
								value="4"
							/>
							<input type="text" id="phrase:password" readonly />
							<progress
								min="0"
								max="4"
								value="0"
								id="phrase:score"
							></progress>
							<p id="phrase:strength"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		document.page = "random";
		function showRandom() {
			document.page = "random";
			document.getElementById("random").classList.add("is-active");
			document.getElementById("passphrase").classList.remove("is-active");
			document.getElementById("content_random").style.display = "block";
			document.getElementById("content_passphrase").style.display =
				"none";
		}
		function showPassphrase() {
			document.page = "passphrase";
			document.getElementById("passphrase").classList.add("is-active");
			document.getElementById("random").classList.remove("is-active");
			document.getElementById("content_random").style.display = "none";
			document.getElementById("content_passphrase").style.display =
				"block";
		}
		document.addEventListener("DOMContentLoaded", () => {
			showRandom();
			document.getElementById("random").addEventListener("click", () => {
				showRandom();
			});
			document
				.getElementById("passphrase")
				.addEventListener("click", () => {
					showPassphrase();
				});
		});
		// use zxcvbn to calculate password strength
		function calculateStrength(password) {
			const result = zxcvbn(password);
			const score = result.score;
			const time_to_crack =
				result.crack_times_display.offline_slow_hashing_1e4_per_second;
			const score_map = [
				"Very weak",
				"Weak",
				"Fair",
				"Strong",
				"Very strong",
			];
			return {
				score: score,
				strength: score_map[score],
				time_to_crack: time_to_crack,
			};
		}
		function generateRandomPassword(
			lowercase = 4,
			uppercase = 3,
			numbers = 3,
			symbols = 1
		) {
			const weights = [
				lowercase || 0,
				uppercase || 0,
				numbers || 0,
				symbols || 0,
			];
			const length = document.getElementById("length").value;
			const charset = [
				..."abcdefghijklmnopqrstuvwxyz".repeat(weights[0]),
				..."ABCDEFGHIJKLMNOPQRSTUVWXYZ".repeat(weights[1]),
				..."0123456789".repeat(weights[2]),
				..."!@#$%^&*()_+~`|}{[]:;?><,./-=".repeat(weights[3]),
			].join("");
			const password = Array.from(
				crypto.getRandomValues(new Uint8Array(length))
			)
				.map((x) => charset[x % charset.length])
				.join("");
			const strength = calculateStrength(password);
			document.getElementById("pass:password").value = password;
			document.getElementById("pass:score").value = strength.score;
			document.getElementById("pass:strength").textContent =
				strength.strength;
		}
	</script>
</html>
